# Ignore python cache
__pycache__/
*.pyc

# Ignore user inputs and staged data
InputAudio/*
Staged/
OriginalAssets/
response.txt

# Keep the InputAudio folder structure in Git but ignore contents
!InputAudio/.gitkeep
